@model glnc_webpart.Models.Truck

<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Immatriculation:</strong> @Model.License</p>
<p><strong>Marque:</strong> @Model.Brand</p>
<p><strong>Modèle:</strong> @Model.Model</p>
<p><strong>Couleur:</strong> @Model.Color</p>

