@model glnc_webpart.Models.Truck

<p><strong>ID:</strong> @Model.Id</p>
<p><strong>License:</strong> @Model.License</p>
<p><strong>Brand:</strong> @Model.Brand</p>
<p><strong>Model:</strong> @Model.Model</p>
<p><strong>Color:</strong> @Model.Color</p>

